.row {
    row-gap: 20px;

}

.dashboard_head {
    overflow-x: hidden;

    .sec_card {
        border: 1px solid #E6E8F0;
        padding: 20px;
        border-radius: 12px;
        background: url(../images/box_img.png) no-repeat right top;
        background-position: -30px -10px;
        background-size: 70%;


        img {
            margin-bottom: 20px;
        }

        h3 {
            font-weight: 600;
        }

        p {
            margin: 0;
            font-size: 13.8px;

            @media screen and (max-width: 540px) {
                font-size: 13.2px;
            }
        }
    }
}




.hero-section {

    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}


.hero-left {
    flex: 1;
    max-width: 600px;
}


.users {
    display: flex;
    margin-bottom: 25px;
}

.users img,
.user-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: -12px;
    border: 3px solid #fff;
}

.user-circle {
    background: #1db954;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.hero-left h1 {
    font-size: 20px;
    line-height: 1.3;
    color: #1c2540;
    font-weight: 600;
    margin: 10px 0;
}

.hero-left span {
    color: #2b6cff;
}

.hero-left p {
    font-size: 15px;
    color: #6c7a92;
    margin-bottom: 30px;
}


.get-started {
    text-decoration: none;
    color: #2b6cff;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #E6E8F0;
    padding-block: 10px;

    a {
        text-decoration: underline dotted;
        text-underline-offset: 6px;
    }
}

.hero-right {
    flex: 1;

    img {
        position: absolute;
        right: 40px;
        bottom: 30px;
    }
}

.connect_sec {
    border: 1px solid #E6E8F0;
    border-radius: 12px;

}

/* RESPONSIVE */
@media(max-width:992px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        max-width: 100%;
    }
}

@media(max-width:576px) {
    .hero-left h1 {
        font-size: 24px;

        br {
            display: none;
        }
    }

    .hero-section {
        padding: 30px;
    }
}


.highlight_sec {
    border: 1px solid #E6E8F0;
    border-radius: 14px;

    .menu {
        font-size: 20px;
        color: #999;
        cursor: pointer;
    }

    .label {
        color: #8a94a6;
        font-size: 14px;
    }

    .sales-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 8px 0 18px;
    }

    .sales-row h1 {
        color: #1f2a44;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;

    }

    .growth {
        background: #e6f7ec;
        color: #19a55b;
        padding: 3px 8px;
        border-radius: 6px;
        font-size: 13px;
        border: 1px solid #19a55b;
    }

    .progress {
        display: flex;
        gap: 6px;
        height: 6px;
        margin-bottom: 15px;
    }

    .bar {
        border-radius: 6px;
    }

    .green {
        background: #1db954;
        width: 60%;
    }

    .orange {
        background: #ff7a2f;
        width: 25%;
    }

    .purple {
        background: #5b3fd6;
        width: 15%;
    }

    /* LEGEND */
    .legend {
        display: flex;
        gap: 18px;
        font-size: 14px;
        color: #5f6b7a;
        margin-bottom: 15px;

        span {
            display: flex;
            gap: 6px;
            align-items: center;
        }
    }

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 6px;
    }

    /* LIST */
    .list {
        margin-top: 10px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #344054;
    }

    .icon {
        width: 28px;
        height: 28px;
        background: #f1f3f7;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .right {
        text-align: right;
    }

    .price {
        margin-right: 10px;
        color: #1f2a44;
    }

    .up {
        color: #16a34a;
        font-size: 14px;
    }

    .down {
        color: #ef4444;
        font-size: 14px;
    }

    hr {
        border: none;
        border-top: 1px solid #E6E8F0;
        margin: 15px 0;
    }
}

.card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    border-bottom: 1px solid #E6E8F0;

    h3 {
        margin: 0;
        color: #1f2a44;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
}


.earning_sec {
    border: 1px solid #E6E8F0;
    border-radius: 14px;
    height: 100%;

    img {
        width: 100%;
    }

    select {
        border: 1px solid #E6E8F0;
        border-radius: 6px;
        padding: 5px 10px;
    }
}



.table-card {
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #E6E8F0;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.table-header input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f7f8fb;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #eee;
    border-collapse: collapse;

    strong {
        font-weight: 400;
    }
}

th {
    font-weight: 500;

}

tbody tr:hover {
    background: #fafbff;
}

td p {
    font-size: 13px;
    color: #7a869a;
    margin-top: 4px;
    margin-bottom: 0;
}

.stars {
    color: #f4b400;
    font-size: 18px;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    gap: 10px;
}

.pagination {
    align-items: center;
    gap: 10px;
}

.pagination button {
    width: 30px;
    border: none;
    background: #f1f3f7;
    margin-left: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.pagination .active {
    background: #e2e6f3;
}

/* RESPONSIVE */
@media(max-width:768px) {

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }

    .table-header {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}



.meeting-card {
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #E6E8F0;

    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
    }

    .time {
        color: #6b7280;
        font-weight: 500;
    }

    .video-icon {
        width: 42px;
        height: 42px;
        background: #3b82f6;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .description {
        padding: 0 22px 20px;
        color: #5f6b7a;
        line-height: 1.6;
    }

    .info-box {
        background: #f1f3f7;
        margin: 0 22px 20px;
        padding: 46px 30px;
        border-radius: 12px;
    }

    .info-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        strong,
        .location {
            min-width: 50%;
        }
    }



    .bottom {
        margin-top: 10px;
    }

    .avatars {
        display: flex;
    }



    .avatar-text {
        background: #e5e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .card-footer {
        text-align: center;
        padding: 16px;
        border-top: 1px solid #eee;
    }

    .card-footer a {
        color: #2563eb;
        text-decoration: none;
        border-bottom: 2px dotted #2563eb;
        font-weight: 500;
    }
}

/* RESPONSIVE */