.dashboard {
    display: flex;
    height: 100vh;
    background: #FFFFFF;
}

main {
    width: 90%;
    margin-left: auto;
    flex: 1;
    background: #fafafa;
    transition: 0.4s ease;

    .content {
        padding: 20px;

        @media screen and (max-width: 1200px) {
            padding-left: 80px;
        }


        .page {
            display: none;

            &.active {
                display: block;
            }
        }

    }

}

/* Register From -- Start */
.register_section {



    .form-card {
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    }


    .view-profile-btn {
        color: #000;
    }

    /* Input Height */
    .form-control,
    .form-select {
        height: 48px;
    }

    textarea.form-control {
        resize: none;
        height: 100px;
    }

    /* Submit Button */
    .submit-btn {
        background: #1f4e96;
        color: #fff;
        padding: 10px 35px;
        border: none;
    }

    .submit-btn:hover {
        background: #163d78;
    }

    .form-control::placeholder {
        font-size: 14px;
    }

    .years-of-exp {

        .form-check-input[type=radio] {
            border-radius: 20%;
        }

        .form-check {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;
        }
    }
}


/* Register From -- End */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: 1200px) {
        padding-left: 80px;
    }

    .head_left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .head_right {
        display: flex;
        align-items: center;
        gap: 20px;


        img {
            width: 20px;
            cursor: pointer;

            &:nth-child(5) {
                width: 50px;
            }

            @media screen and (max-width: 678px) {
                &:nth-child(-n+4) {
                    display: none;
                }
            }
        }
    }
}


/* List section -- Start */

.table-wrapper {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);

    .table-header {
        display: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        h3 {
            margin: 0;
        }
    }



    .table-responsive {
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                background: #f1f5f9;
            }

            th,
            td {
                padding: 13px;
                text-align: left;
                border: 1px solid #e5e7eb;
                font-size: 13px;
                border-collapse: collapse;
                font-weight: 400;
                line-height: 14px;
                color: #4B5675;
                padding: 10px;
            }

            th {
                font-weight: 600;
            }

            td {
                color: #000;

                b {

                    font-weight: 600;
                }

                small {
                    color: #6b7280;
                }
            }
        }
    }

    .table-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;


        #per_page {
            border: 1px solid #DBDFE9;
            padding: 6px 12px;
            border-radius: 8px;
            margin-inline: 10px;
        }

        .pagination {

            span {
                padding: 6px 10px;
                margin: 0 3px;
                border-radius: 6px;
                cursor: pointer;
                width: 35px;

                &.active {
                    background: #e2e8f0;
                    text-align: center;
                }
            }
        }
    }
}




@media (max-width: 992px) {
    .table-wrapper {
        table {

            th,
            td {
                font-size: 13px;
                padding: 10px;
            }
        }
    }
}


@media screen and (max-width: 678px) {
    .sec_head {

        h4 {
            font-size: 18px;

        }

        .text-muted {
            font-size: 11px !important;
        }

        .view-profile-btn {
            margin-top: 10px;
        }

        .form-card {
            padding: 15px;
        }

        select,
        .form-label {
            font-size: 14px;
        }

        .form-control,
        .form-select {
            height: 36px;
        }
    }


    .table-wrapper {

        table,
        thead,
        tbody,
        tr,
        td {
            display: block;
            width: 100%;
        }

        thead {
            display: none;
        }

        tr {
            background: #fff;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
            padding: 10px;
        }

        td {
            border: none;
            display: flex;
            justify-content: space-between;
            padding: 8px 10px;

            &::before {
                content: attr(data-label);
                font-weight: 600;
                color: #374151;
            }
        }

        .table-footer {
            flex-direction: column;
            gap: 10px;
        }
    }


}