.sidebar {
    width: 260px;
    padding: 20px;
    overflow: auto;
    border-right: 1px solid #E6E8F0;
    transition: 0.1s ease;
    position: relative;
    height: 100vh;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 10px;
    }

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;

    }

    ul {
        list-style: none;
        padding: 0;
    }

    .accordion-header {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #A4ABBF;

    }

    .menu:hover,
    .menu.active {
        background: #F9F9F9;
        color: #000000;

    }

    .menu {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #27314B;
        border-radius: 8px;
        padding: 10px;
    }

    .submenu {
        /* display: none; */
        padding-left: 15px;
    }

    .accordion.active .submenu {
        display: block;
    }


    &.hide {
        width: 60px;
        overflow: hidden;
        overflow-y: auto;
        padding: 10px;



        .hide_btn_invisible {
            visibility: hidden;
        }

        .br_line {
            display: none;
        }

        .soon {
            &::after {
                display: none;
            }
        }

        .hide_btn {
            left: 20%;
            top: 10px;
            transform: rotate(180deg);
        }
    }

    .hide_btn {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 86%;
        top: 20px;
        cursor: pointer;
        z-index: 10;
        padding: 0;
    }
}

/* ___________________ */
.submenu.br_line.p-0 {
    padding-left: 10px !important;
    border-left: 1px solid #E6E8F0;
    margin-left: 20px;

    .menu.active {
        position: relative;
        color: #1379F0;
        background-color: #F9F9F9;

        &::after {
            content: "";
            background-color: #1379F0;
            width: 10px;
            height: 10px;
            position: absolute;
            left: -15px;
            border-radius: 50px;
        }
    }

}

@media screen and (max-width: 1200px) {
    .sidebar {
        position: fixed;
        z-index: 1;
        background-color: #fff;
    }

}